body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-style: normal;
}

p {
    color: darkblue;
    font-family: Arial;
}

code {
    color: red;
    font-size: 50px;
}

li:nth-child(odd) {
    background: pink;
}
li:nth-child(even) {
    background: plum;
}
div {
    padding: 20px;
}